.contact {
    background-color: #053d53;
    color: white;
}

.info {
    padding-top: 5vw;
    padding-bottom: 4vw;
    border-bottom: 0.1vw solid white;
}

.map iframe {
    margin-top: 2vw;
    width: 43vw;
    height: 30vw;
    margin-left: -2vw;
}

.desc {

    padding-left: 5vw;
}

.desc h1 {
    font-size: 2.4vw;
    font-family: 'sukhumvit_setbold';
    padding-top: 1.5vw;
    padding-bottom: 1vw;
}

.desc p {
    font-size: 1vw;
    margin-bottom: 2vw;
    font-family: 'sukhumvit_setbold';
}

.desc ul {
    margin-bottom: 4vw;
}

.desc li {
    font-size: 1vw;
    font-family: 'sukhumvit_setbold';
}

.desc button {
    font-size: 1.3vw;
    border: 0.1vw solid white;
    color: white;
    background-color: #053d53;
    padding: 0.5vw 1.5vw;
    margin-right: 1vw;
    font-family: 'sukhumvit_setbold';
}

#googlemap {
    background-color: white;
    color: #053d53;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin-left: 9vw;
    margin-right: 9vw;
    padding-bottom: 1vw;
}

.foot img {
    width: 12vw;
}

.logo2 {
    margin-top: 1vw;
}

.copyright {
    display: flex;

}

.copyright p {
    margin-top: 2vw;
    font-size: 1vw;
    padding-right: 1vw;
    font-family: 'sukhumvit_setbold';
}

.copyright img {
    width: 1.7vw;
    height: 1.7vw;
    margin-top: 1.6vw;
    margin-right: 1vw;
}

.copyright a {
    font-family: 'sukhumvit_setbold';
    font-size: 1.5vw;
    margin-top: 1.4vw;
    text-decoration: none;
    color: white;
}
.copyright a:hover{
    color: white;
}


.borderr {
    border-right: 0.1vw solid white;
    padding-right: 1vw;

}

.ifb img {
    margin-top: 1.4vw;
    width: 3vw;
    height: 2vw
}

@media only screen and (max-width: 575px) {
    .info {
        padding-left: 5vw;
        padding-bottom: 9vw;
    }

    .map iframe {
        margin-left: -9.5vw;
        margin-top: 2vw;
        width: 90vw;
        height: 60vw;
        margin-bottom: 3vw;
    }

    .desc button {
       
        font-size: 3.2vw;
        margin-left: 1vw;
        
    }
    .btmap{
        position: absolute;
        margin-left: 4.5vw; 
        margin-top: 65vw;

    }

    .desc h1 {
        font-size: 3.5vw;
        padding-bottom: 1vw;
    }

    .desc p {
        font-size: 2vw;
    }

    .desc li {
        font-size: 1.8vw;
    }

    .desc ul {
        margin-bottom: 1vw;
    }

    .copyright a {
        margin-top: 2vw;
        font-size: 3vw;
        margin-right: 2vw;
    }

    .copyright img {
        margin-top: 2.1vw;
        width: 4vw;
        height: 4vw;
        margin-right: 2vw;
    }

    .copyright p {
        position: absolute;
        margin-top: 8vw;
        left:11vw;
        font-size: 1vw; 
    }
    
    .logo2 img {
        width: 22vw;
    }

    .ifb img {
        margin-top: 1.5vw;
        width: 7vw;
        height: 5vw;
        margin-right: 0vw;
    }
    .foot{
        margin-top: 1.2vw;
        padding-bottom: 7vw;
    }
    .borderr {
        padding-right: 2vw;
    
    }

}