.regis{
    color: #053d53;
    text-align: center;

}
.regis img{
    position: absolute;
    width: 43vw;
    right: -0.5vw;
    top: 43vw;
    z-index: -1;

}

.regis p{
    font-size: 1.7vw;
    font-family: 'sukhumvit_setbold';
    margin-bottom: 4vw;
    
}

.regis h1{
    font-size: 2.6vw;
    font-family: 'sukhumvit_setbold';
    margin-bottom: 2vw;
}

.regis button{
    color: white;
    background-color: #044154 ;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 0.5vw 3vw;
    font-size: 1.3vw;
    border: 0vw;
    font-family: 'sukhumvit_setbold';
    
}

.form-group {
    position:relative;  
  }
  
  .form-label {
    position: absolute;
    left: 3vw;
    top: 5.5vw;
    font-family: 'sukhumvit_setbold';
    font-size: 1vw;
    transition: top 500ms ease-in, left 500ms ease-in, font-size 500ms ease-in, color 500ms ease-in;
}
  
  .form-input {
    position: relative;
    padding: 0.5vw 0px 0.5vw 0;
    outline: 0;
    width: 30vw;
    font-size: 1vw;
    border: 0;
    border-bottom: 0.13vw solid #044154;
    margin-top:5vw;
    color: #044154;
    font-family: 'sukhumvit_setbold';
    background-color: rgba(255, 255, 255, 0);
  }
  .form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label{
  top: 4vw;
  font-size: 0.8vw;
  left: 3vw;
  color: rgb(184, 184, 184);
}


.opinput select{
    width: 30vw;
    font-size: 1vw;
    border: 0;
    border-bottom: 0.13vw solid #044154;
    margin-top:6vw;
    background-color: rgba(255, 255, 255, 0);
    color: #044154;
    outline: 0;
    font-family: 'sukhumvit_setbold';
}



@media only screen and (max-width: 575px){
    .opinput select{
        width: 70vw;
        font-size: 3.5vw;      
    }
    .form-label {
        left: 1vw;
        top: 3.5vw;
        font-size: 3.5vw;
        
    }
    .form-input{
        width: 70vw;
        font-size: 3.5vw;
        margin-bottom: 3vw;
    }
    .form-input:focus ~ .form-label,
    .form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
      top: 3.5vw;
      font-size: 1.2vw;
      left: 0.5vw;
    }
    .regis button{
        font-size: 3.5vw;
   
    }
    .regis p{
        font-size: 2.5vw;
        padding-top: 1vw;
        padding-bottom: 0.5vw;
        
    }
    
    .regis h1{
        font-size: 4vw;

    }
    .regis img{
        top: 218.5vw;    
    }
}

