.contact{
    background-color: #053d53;
    color: white;
}

.info{
    padding-top: 5vw;
    padding-bottom: 4vw;
    border-bottom: 0.1vw solid white;
}

.map iframe{
    margin-top: 2vw;
    width: 37vw;
    height: 24vw;
    margin-left: 4.5vw;
}

.desc{

    padding-left: 5vw;
}

.desc h1{
    font-size: 2.4vw;
    font-family: 'sukhumvit_setbold';
    padding-top: 1.5vw;
    padding-bottom: 1vw;
}

.desc p {
    font-size: 1vw;
    margin-bottom: 2vw;
    font-family: 'sukhumvit_setbold';
}

.desc ul{
    margin-bottom: 4vw;
}

.desc li{
    font-size: 1vw;
    font-family: 'sukhumvit_setbold';
}

.desc button {
    font-size: 1.3vw;
    border: 0.1vw solid white;
    color: white;
    background-color: #053d53;
    padding: 0.5vw 1.5vw;
    margin-right: 1vw;
    font-family: 'sukhumvit_setbold';
}
#googlemap{
    background-color: white;
    color: #053d53;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1vw;
}

.foot img{
    width: 15vw;
}
.logo2{
    margin-top: 1vw;
}

.copyright{
    display: flex;
}
.copyright p{
    margin-top: 2.3vw;
    font-size: 1.1vw;
    padding-right: 1vw;
    font-family: 'sukhumvit_setbold';
}
.copyright img{
    width: 2vw;
    height: 2vw;
    margin-top: 2vw;
    margin-right: 1vw;
}

.copyright h1{
    font-family: 'sukhumvit_setbold';
    font-size: 1.7vw;
    margin-top: 2vw;
}


.borderr{
    border-right: 0.1vw solid white;
    padding-right: 1vw;
    
}

.ifb img{
    width: 3vw;
}

@media only screen and (max-width: 575px){
    .info{
        padding-left: 15vw;
    }
    .map iframe{      
       margin-left: 5vw;
    }
    .desc button {
        margin-left: 4vw;
    }
   .copyright h1{
        margin-top: 2.5vw;
   }
   .copyright img{
    margin-top: 2.5vw;
    }
    .copyright p{
        margin-top: 2.8vw;
    }
}