.regis{
    color: #053d53;
    text-align: center;

}
.regis img{
    position: absolute;
    width: 43vw;
    right: -0.5vw;
    top: 46.5vw;

}

.regis p{
    font-size: 2vw;
    font-family: 'sukhumvit_setbold';
    margin-bottom: 4vw;
    
}

.regis h1{
    font-size: 3vw;
    font-family: 'sukhumvit_setbold';
    margin-bottom: 2vw;
}

.regis button{
    color: white;
    background-color: #053d53 ;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 0.5vw 3vw;
    font-size: 1.5vw;
    border: 0vw;
    font-family: 'sukhumvit_setbold';
    
}
.textinput{

    padding-left: 10vw;
    padding-right: 10vw;
}

.textinput input{
    width: 30vw;
    font-size: 1.2vw;
    border: 0;
    border-bottom: 0.13vw solid #053d53;
    margin-top:5vw;
    color: #053d53;
    font-family: 'sukhumvit_setbold';
}

.opinput{
    padding-left: 12vw;
    padding-right: 8vw;

}
.opinput select{
    width: 30vw;
    font-size: 1.2vw;
    border: 0;
    border-bottom: 0.13vw solid #053d53;
    margin-top:5vw;
    color: #053d53;
    font-family: 'sukhumvit_setbold';
}


.textinput input::placeholder {
    color: #053d53;
}

@media only screen and (max-width: 575px){
    .opinput{
        padding-left: 32vw;
    
    }
}

