.regis{
    color: #053d53;
    text-align: center;

}
.regis img{
    position: absolute;
    width: 43vw;
    right: -0.5vw;
    top: 46vw;
}

.regis p{
    font-size: 2vw;
}

.regis h1{
    font-size: 3vw;
}

.regis button{
    color: white;
    background-color: #053d53 ;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 0.5vw 2.5vw;
    font-size: 1.5vw;
    border: 0vw;
    
}

.form input,.form select{
    width: 30vw;
    font-size: 1.5vw;
    border: 0;
    border-bottom: 0.13vw solid #053d53;
    margin: 2vw 1.5vw 3vw 1.5vw;
    color: #053d53;

}

.form input::placeholder {
    color: #053d53;
}



