.headbar{
    height: 7vw;
    display: flex;
    justify-content: space-between;
    margin: 1vw 5vw 0 5vw;
}

.headbar img{
    width: 22vw;
    height: 6vw;
}

.phone{
    display: flex;
}
.phone img{
    width: 2.5vw;
    height: 2.5vw;
    margin-top: 2.5vw;
    margin-right: 2vw;
}
.phone p{
    margin-top: 1.5vw;
    color: #053d53;
    font-size: 3vw;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
}